---
import { SITE } from 'astrowind:config';
import lightLogo from '~/assets/logo/light_logo.svg';
import darkLogo from '~/assets/logo/dark_logo.svg';
import { getHomePermalink } from '~/utils/permalinks';
---

<a class="flex items-center py-1" href={getHomePermalink()}>
  <img src={lightLogo.src} alt={SITE.name} class="h-12 md:h-18 w-auto dark:hidden" />
  <img src={darkLogo.src} alt={SITE.name} class="h-12 md:h-18 w-auto hidden dark:block" />
</a>
